<div class="mat-elevation-z8 inset offset" [ngStyle]="{'max-width': maxWidth}">
  <h3 class="mat-h3">{{ "synonyms" | translate | capitalize }}</h3>

  <form (ngSubmit)="onAdd()">
    <mat-form-field class="full-width">
      <input type="text" name="synonym" [(ngModel)]="synonymfield" matInput [placeholder]="'add synonym' | translate | capitalize">
    </mat-form-field>
  </form>

  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="synonym">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row"> {{row.synonym}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" align="right">
        <button mat-icon-button color="warn" (click)="onDelete(row)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>