<div mat-dialog-content>
  <form class="brand-form" [formGroup]="brandForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="{{ 'name' | translate | capitalize }}" formControlName="name" cdkFocusInitial
        required>
      <mat-error *ngIf="name.invalid">{{name.errors | keys | get | append:"error" | translate | capitalize }}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
  <button mat-button (click)="onSubmit()" [disabled]="!brandForm.valid">{{ state | translate | capitalize}}</button>
</div>