<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer fixedInViewport="true" [attr.role]="(isHandset$ | async) || (isPortrait$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) || (isPortrait$ | async) ? 'over' : 'side'" [opened]="!((isHandset$ | async) || (isPortrait$ | async))" class="sidenav mat-elevation-z6">
        <mat-toolbar color="primary">
            <div *ngIf="(isHandset$ | async) || (isPortrait$ | async)">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            </div>

            <a mat-icon-button routerLink="">
                <mat-icon svgIcon="logo"></mat-icon>
            </a>

        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="" routerLinkActive="active">Home</a>
            <a mat-list-item routerLink="/brands" routerLinkActive="active">Brands</a>
            <a mat-list-item routerLink="/about" routerLinkActive="active">About</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content color="primary">
        <mat-toolbar color="primary" class="mat-elevation-z6" *ngIf="(isHandset$ | async) || (isPortrait$ | async)">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <a mat-icon-button routerLink="">
                <mat-icon svgIcon="logo"></mat-icon>
            </a>


            <span class="spacer"></span>

        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>