.sidenav-container {
    min-height: 100vh;
  }

.sidenav {
    min-width: 250px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto;
}

.full-width-form-field {
    width: 100%;
}
