<mat-toolbar color="primary">
  <span><mat-icon>mood</mat-icon></span>
  <!-- Place title in the center -->
  <div fxFlex></div>
  <div class="header-title-subtitle">
    <h1>SentiCloud</h1>
    <p>Like SkyNet but for marketers</p>
  </div>
  <div fxFlex></div>
  <!-- Menu button -->
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<!-- Menu -->
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item>{{ "Home" | translate | capitalize }}</button>
  <button mat-menu-item>{{ "Brands" | translate | capitalize }}</button>
</mat-menu>
