<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px;">
  <div fxFlex="400px">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <form class="example-form">
            <table class="full-width" cellspacing="10px">
              <tr>
                <td>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="E-mail" name="email" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td><mat-form-field class="full-width">
                  <input matInput placeholder="Password" type="password" name="password" required>
                </mat-form-field></td>
              </tr></table>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Login</button>
        </mat-card-actions>
      </mat-card>

  </div>
</div>
