<div class="wrapper">
  <mat-card class="mat-elevation-z8 login-card">
    <mat-card-title>
      {{ "Login" | translate | capitalize }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ "login subtitle" | translate | capitalize }}
    </mat-card-subtitle>
    <mat-card-content>
      <div *ngIf="showSpinner; else elseBlock">
        <mat-spinner style="margin: 0 auto;"></mat-spinner>
      </div>
      <ng-template #elseBlock>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput placeholder="{{ 'email' | translate | capitalize }}" formControlName="email" required>
            <!-- <mat-error *ngIf="email.invalid">{{ "invalid email" | translate | capitalize }}</mat-error> -->
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="{{ 'password' | translate | capitalize }}" formControlName="password" [type]="hide ? 'password' : 'text'"
              required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">{{ "Login" | translate
            | capitalize }}</button>
        </form>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>