<div class="wrapper">
  <div *ngIf="spinner; else elseBlock">
    <mat-spinner style="margin: 0 auto;"></mat-spinner>
  </div>
  <ng-template #elseBlock>
    <mat-card class="mat-elevation-z8 register-card">
      <mat-card-title>
        {{ "Register" | translate | capitalize }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ "register subtitle" | translate | capitalize }}
      </mat-card-subtitle>
      <mat-card-content>
        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput placeholder="{{ 'firstname' | translate | capitalize }}" formControlName="firstname"
              required>
            <mat-error *ngIf="firstname.invalid">{{firstname.errors | keys | get | append:"error" | translate | capitalize }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="{{ 'lastname' | translate | capitalize }}" formControlName="lastname" required>
            <mat-error *ngIf="lastname.invalid">{{lastname.errors | keys | get | append:"error" | translate | capitalize }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="{{ 'email' | translate | capitalize }}" formControlName="email" required>
            <mat-error *ngIf="email.invalid">{{email.errors | keys | get | append:"error" | translate | capitalize }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="{{ 'password' | translate | capitalize }}" formControlName="password" type="password"
              required>
            <mat-error *ngIf="password.invalid">{{password.errors | keys | get | append:"error" | translate | capitalize }}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="{{ 'confirm password' | translate | capitalize }}" formControlName="cpassword"
              type="password" required>
            <mat-error *ngIf="cpassword.invalid">{{cpassword.errors | keys | get | append:"error" | translate | capitalize }}</mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">{{ "register" |
            translate
            | capitalize }}</button>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <p>
          <a routerLink="/login" routerLinkActive="active">{{ "Already have a user?" | translate | capitalize }}</a>
        </p>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>