<div class="grid-container">
  <h1 class="mat-h1">{{ "Dashboard" | translate | capitalize }}</h1>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile [colspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>{{ "Expand" | translate | capitalize }}</button>
              <button mat-menu-item>{{ "Remove" | translate | capitalize }}</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="flex">
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="testdata" [gradient]="gradient" [xAxis]="showXAxis"
              [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>