<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list [cols]="cols" rowHeight="400px">
    <mat-grid-tile [colspan]="cols" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Stats
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <canvas baseChart height="300" [datasets]="lineChartData" [options]="lineChartOptions"
            [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

