<ng-container *ngIf="brand">
  <mat-toolbar color="primary">
    <span>{{ brand.name }}</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="showFilters = !showFilters">
      <mat-icon aria-label="display filters button">settings</mat-icon>
    </button>

  </mat-toolbar>

  <div class="container">

    <div class="grid">
      <div class="col col-1" [@openClose]="showFilters ? 'open' : 'closed'">
        <div class="mat-elevation-z8 inset offset flex">
          <mat-form-field>
            <input matInput [ngModel]="from | date:'yyyy-MM-dd'" placeholder="{{ 'from' | capitalize | translate }}"
              (ngModelChange)="from = $event" type="date" name="fromDate" required />
          </mat-form-field>
          <span>&nbsp;</span>
          <mat-form-field>
            <input matInput [ngModel]="to | date:'yyyy-MM-dd'" placeholder="{{ 'to' | capitalize | translate }}"
              (ngModelChange)="to = $event" type="date" name="toDate" required />
          </mat-form-field>
          <span>&nbsp;</span>
          <mat-form-field>
            <mat-select [(ngModel)]="granularity" placeholder="{{ 'granularity' | capitalize | translate }}">
              <mat-option value="hour">
                hour
              </mat-option>
              <mat-option value="day">
                day
              </mat-option>
              <mat-option value="halfday">
                halfday
              </mat-option>
              <mat-option value="week">
                week
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="fill-remaining-space"></span>
          <button mat-flat-button (click)="fetchStatistics()">
            {{ "apply" | translate | capitalize }}
          </button>
        </div>
      </div>

      <div class="col col-1" *ngIf="chartData$ | async as chartData">
        <div class="mat-elevation-z8 inset offset" style="height: 400px">
          <app-line-chart [data]="chartData"></app-line-chart>
        </div>
      </div>

      <div class="col">
        <app-synonyms [brandId]="brand.id" maxWidth="400px"></app-synonyms>
      </div>

    </div>
  </div>
</ng-container>