<ng-container *ngIf="brand">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <span>{{ brand.name }}</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <mat-form-field>
      <input matInput [ngModel]="from | date:'yyyy-MM-dd'" (ngModelChange)="from = $event" type="date" name="fromDate"
        required />
    </mat-form-field>
    <span>&nbsp;-&nbsp;</span>
    <mat-form-field>
      <input matInput [ngModel]="to | date:'yyyy-MM-dd'" (ngModelChange)="to = $event" type="date" name="toDate"
        required />
    </mat-form-field>
    <span>&nbsp;</span>
    <mat-form-field>
      <mat-select [(ngModel)]="granularity">
        <mat-option value="hour">
          hour
        </mat-option>
        <mat-option value="day">
          day
        </mat-option>
        <mat-option value="halfday">
          halfday
        </mat-option>
        <mat-option value="week">
          week
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="fetchStatistics()">
      <mat-icon aria-label="refresh graphs button">refresh</mat-icon>
    </button>

  </mat-toolbar>


  <div class="container">

    <div class="grid">
      <div class="col col-1" *ngIf="chartData$ | async as chartData">
        <div class="mat-elevation-z8 inset offset" style="height: 400px">
          <app-line-chart [data]="chartData"></app-line-chart>
        </div>
      </div>

      <div class="col">
        <app-synonyms [brandId]="brand.id" maxWidth="400px"></app-synonyms>
      </div>

    </div>
  </div>
</ng-container>