.container {
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.col {
  flex: 1;
}

.col-1 {
  flex: 100%;
  max-width: 100%;
}

@media (max-width: 400px) {
  .grid .col {
    width: 100%;
  }
}