.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.example-card {
  max-width: 400px;
  margin: 1em;
}

.example-header-image {
  background-image: url('https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/30708897_10213513002034345_8150222365264976223_n.jpg?_nc_cat=105&oh=8bfd2f8f08ccc0193d6b607c5898fbfb&oe=5C5BC5A1');
  background-size: cover;
}