<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">


    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item href="#">
        <mat-icon>view_list</mat-icon> Brands
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SentiCloud</span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Theis Jendal</mat-card-title>
          <mat-card-subtitle>
            <i class="material-icons">accessible_forward</i>
            Professional Autist
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/39408860_10214350516491683_3312845748718010368_n.jpg?_nc_cat=107&oh=792cff75cf4684330b6b26504e2e5e9a&oe=5C26CF6D"
          alt="Photo of an autist">
        <mat-card-content>
          <p class="caption">
            Life passes through your mind, when the beer turns out to be orange juice.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>PRAY</button>
          <button mat-button>REEE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>